<main>
  <section class="form-section">

    <img src="/assets/img/logo.svg" alt="logo" />

    <h2>{{ title }}</h2>

    <ng-content></ng-content>

    <div class="btn-wrapper">

      <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">{{ primaryBtnText }}</button>

      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>

      <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>

    </div>

  </section>

  <section class="main-section">

    <h1>{{ h2_msg }}</h1>

    <img src="/assets/img/main.svg" alt="main" />

  </section>
</main>
